@import './assets/css/normalize.css';

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--color-background-light);
  font-family: sans-serif;
}

/* ------------------------------common------------------------------ */
:root {
  --color-yellow-light: #fffee0;
  --color-error: #ff1302;
  --color-selected: #9bd87f;
  --color-selected-product: #67d037;
  --color-grey: #2b2b2b;
  --color-grey-yellow: #b8b7b0;
  --color-grey-white: #5a5a5a;
  --color-grey-dark: #424141;
  --color-background-light: #f9f7f5;
  --color-background-dark: #2b2b2b;
  --color-background-dark: #3b3b3b;
  --color-border-light: #bebbb9;
  --color-font-main: #ffffdd;
  --font-container: 'Montserrat', sans-serif;
}

.link {
  text-decoration: none;
  transition: 0.3s;
}

.link:link {
  color: inherit;
}

.link:visited {
  color: inherit;
}

.link:hover {
  text-decoration: none;
  color: #ffffff;
}

.button {
  cursor: pointer;
}

.button.selected:hover {
  cursor: pointer;
  background-color: #c6d3c1;
}

.button.selected {
  background-color: var(--color-selected);
}

/* ------------------------------header------------------------------ */
.header {
  display: flex;
  flex-direction: row;
  gap: 4vw;
  font: var(--font-container);
  color: var(--color-font-main);
  font: italic small-caps bold 1rem cursive;
  background-color: var(--color-background-dark);
  padding: 1vh 6vh;
  border-top: 1em solid var(--color-background-light);
  border-bottom: 1em solid var(--color-background-light);
}

.link_header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.icons_header {
  width: 4vh;
  height: auto;
  display: block;
}

.header__title {
  margin: 0;
}

/* ------------------------------main------------------------------ */
.main {
  /* min-height: 50vh; */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 1vw;
  margin: 0 0 auto;
  padding: 1vh;
  /* align-items: flex-start; */
}

/* -----------------------------garage------------------------------ */
.garage {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 1vw;
  /* align-items: flex-start; */
}

.garage.none {
  display: none;
}

/* -----------------------------switch------------------------------ */
.switch {
  display: flex;
  gap: 1vh;
  padding: 1em;
}

/* ------------------------------edit------------------------------ */
.edit {
  display: flex;
  flex-direction: column;
  gap: 1vh;
  padding: 1em;
}

.edit__edit,
.edit__control {
  display: flex;
  justify-content: flex-start;
  gap: 1vh;
}

/* ------------------------------cars------------------------------ */
.svg-element {
  width: 0;
  height: 0;
  visibility: hidden;
}

.icons_cars,
.icons_flag {
  width: 8vh;
  height: 8vh;
  display: block;
  padding: 0.5em;
}

.icons_flag {
  width: 5vh;
  height: 5vh;
}

/* ------------------------------item------------------------------ */
.items {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 4vh;
}

.item {
  width: 100%;
  display: flex;
  flex-direction: column;
  /* justify-content: flex-start; */
  /* align-items: center; */
  padding: 0 1vh;
  border-bottom: 0.2em dashed var(--color-grey-dark);
}

.item__edit {
  display: flex;
  flex-direction: row;
  gap: 1vh;
}

.item__title {
  display: flex;
  align-items: center;
  gap: 1vh;
}

.item__control {
  display: flex;
  align-items: center;
  gap: 1vh;
}

.item__wrapper {
  width: 100%;
  display: flex;
  align-items: center;
}

.item__track {
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* -----------------------------winners------------------------------ */
.winners {
  padding: 0 0 0 3vw;
}

.winners.none {
  display: none;
}

.tr-head {
  display: flex;
  gap: 2vw;
  background-color: var( --color-yellow-light);
}

.th,
.td {
  padding: 0.2vw 1.5vw;
}

/* ------------------------------footer------------------------------ */
.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: #ffffdd;
  background-color: var(--color-background-dark);
  padding: 0.1vh 6vh;
  border-bottom: 1em solid var(--color-background-light);
}

.footer__data {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 0.5rem;
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}

.footer__item .link {
  font-weight: bold;
  letter-spacing: 0.15em;
}

.footer__logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.icons_footer {
  filter: brightness(108%) contrast(108%) hue-rotate(305deg) saturate(129%) sepia(26%) invert(100%);
  background-color: transparent;
  background-size: contain;
  background-repeat: no-repeat;
  transition: 0.3s;
}

.icons_footer:hover {
  filter: brightness(200%) contrast(200%) saturate(0%) invert(100%);
  cursor: pointer;
}
